In [131]:
import pandas as pd

#### 本檔案為將各個裝置1/1~10/31的資料與中央氣象局的資料以及自己計算之太陽仰角等資料做串接之程式碼
##### 結果檔可至Google Drive下載weather_sun_combine.csv

In [132]:
sun_df = pd.read_csv("../太陽仰角與日射量資料計算整理/sunlight_data.csv")
sun_df["location"] = sun_df["location"].astype(str).str.zfill(2)
sun_df["DateTime"] = pd.to_datetime(sun_df["DateTime"])
["太陽仰角", "日射量 (W/m²)","太陽方位角", "太陽能板日射量 (W/m²)"]
sun_df

,location,經度,緯度,地點名稱,DateTime,方位角,太陽仰角,日射量 (W/m²),太陽方位角,太陽能板日射量 (W/m²)
0,01,121.544444,23.899444,頂樓一號,2024-01-01 00:00:00,181.000,-88.366208,0.0,138.515569,0.0
1,01,121.544444,23.899444,頂樓一號,2024-01-01 00:10:00,181.000,-86.202505,0.0,137.831949,0.0
2,01,121.544444,23.899444,頂樓一號,2024-01-01 00:20:00,181.000,-83.943446,0.0,137.158723,0.0
3,01,121.544444,23.899444,頂樓一號,2024-01-01 00:30:00,181.000,-81.666617,0.0,136.493326,0.0
4,01,121.544444,23.899444,頂樓一號,2024-01-01 00:40:00,181.000,-79.383910,0.0,135.833303,0.0
...,...,...,...,...,...,...,...,...,...,...
746635,17,121.600000,23.983333,自家倉庫,2024-10-31 23:10:00,185.125,-75.947259,0.0,142.108191,0.0
746636,17,121.600000,23.983333,自家倉庫,2024-10-31 23:20:00,185.125,-77.567816,0.0,141.327489,0.0
746637,17,121.600000,23.983333,自家倉庫,2024-10-31 23:30:00,185.125,-78.921182,0.0,140.572822,0.0
746638,17,121.600000,23.983333,自家倉庫,2024-10-31 23:40:00,185.125,-79.899069,0.0,139.840382,0.0
746639,17,121.600000,23.983333,自家倉庫,2024-10-31 23:50:00,185.125,-80.386005,0.0,139.126723,0.0

In [133]:
weather_df_10mins = pd.read_csv("../資料前處理以及第三方資料/10mins_weather_data.csv")
weather_df_10mins["DateTime"] =  pd.to_datetime(weather_df_10mins["DateTime"])
# weather_df_10mins["日期"] = pd.to_datetime(weather_df_10mins["DateTime"].dt.date)
# weather_df_10mins["時間"] = weather_df_10mins["DateTime"].dt.hour.astype(str).str.zfill(2)
# weather_df_10mins["時段"] = weather_df_10mins["DateTime"].dt.minute.astype(str).str.zfill(2)

weather_df_10mins.fillna(0,inplace=True)

In [134]:
weather_df_10mins

,StationId,DateTime,SunshineDuration,UVIndex,AirTemperature,DailyExtremeHighAirTemperature,DailyExtremeLowAirTemperature,RelativeHumidity,VisibilityDescription,StationLatitude,StationLongitude,StationAltitude
0,466990,2024-01-01 00:00:00,0.9,0,19.2,24.6,19.0,72,21-30,23.975128,121.61327,16.1
1,466990,2024-01-01 00:10:00,0.0,0,19.2,19.3,19.2,72,21-30,23.975128,121.61327,16.1
2,466990,2024-01-01 00:20:00,0.0,0,19.2,19.3,19.2,71,21-30,23.975128,121.61327,16.1
3,466990,2024-01-01 00:30:00,0.0,0,19.2,19.3,19.2,70,21-30,23.975128,121.61327,16.1
4,466990,2024-01-01 00:40:00,0.0,0,19.2,19.3,19.2,71,21-30,23.975128,121.61327,16.1
...,...,...,...,...,...,...,...,...,...,...,...,...
45728,466990,2024-11-10 23:20:00,1.0,0,24.6,27.8,24.4,85,>30,23.975128,121.61327,16.1
45729,466990,2024-11-10 23:30:00,1.0,0,24.6,27.8,24.4,85,>30,23.975128,121.61327,16.1
45730,466990,2024-11-10 23:40:00,1.0,0,24.6,27.8,24.4,85,>30,23.975128,121.61327,16.1
45731,466990,2024-11-10 23:50:00,1.0,0,24.5,27.8,24.4,85,>30,23.975128,121.61327,16.1
45732,466990,2024-11-11 00:00:00,1.0,0,24.4,27.8,24.4,86,>30,23.975128,121.61327,16.1

In [135]:
weather_df_1hour = pd.read_csv("../資料前處理以及第三方資料/station466990weather.csv")
weather_df_1hour = weather_df_1hour.loc[:,["DateTime","TX01","GR01","RH01","UV01"]]
weather_df_1hour["DateTime"] = weather_df_1hour["DateTime"].astype(str)
weather_df_1hour["日期"] = pd.to_datetime(weather_df_1hour["DateTime"].str.slice(0,8))
weather_df_1hour["時間"] = weather_df_1hour["DateTime"].str.slice(8,10)
weather_df_1hour.loc[weather_df_1hour["時間"]=="24","時間"] = "00"
weather_df_1hour.fillna(0,inplace=True)
weather_df_1hour.drop_duplicates(subset=["日期","時間"],inplace=True)

In [136]:
df = pd.merge(
    sun_df.loc[:,["location","DateTime","太陽仰角", "日射量 (W/m²)","太陽方位角", "太陽能板日射量 (W/m²)"]],
    weather_df_10mins,
    left_on=["DateTime"],
    right_on=["DateTime"],
    how="left"
)
df

,location,DateTime,太陽仰角,日射量 (W/m²),太陽方位角,太陽能板日射量 (W/m²),StationId,SunshineDuration,UVIndex,AirTemperature,DailyExtremeHighAirTemperature,DailyExtremeLowAirTemperature,RelativeHumidity,VisibilityDescription,StationLatitude,StationLongitude,StationAltitude
0,01,2024-01-01 00:00:00,-88.366208,0.0,138.515569,0.0,466990.0,0.9,0.0,19.2,24.6,19.0,72.0,21-30,23.975128,121.61327,16.1
1,01,2024-01-01 00:10:00,-86.202505,0.0,137.831949,0.0,466990.0,0.0,0.0,19.2,19.3,19.2,72.0,21-30,23.975128,121.61327,16.1
2,01,2024-01-01 00:20:00,-83.943446,0.0,137.158723,0.0,466990.0,0.0,0.0,19.2,19.3,19.2,71.0,21-30,23.975128,121.61327,16.1
3,01,2024-01-01 00:30:00,-81.666617,0.0,136.493326,0.0,466990.0,0.0,0.0,19.2,19.3,19.2,70.0,21-30,23.975128,121.61327,16.1
4,01,2024-01-01 00:40:00,-79.383910,0.0,135.833303,0.0,466990.0,0.0,0.0,19.2,19.3,19.2,71.0,21-30,23.975128,121.61327,16.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746635,17,2024-10-31 23:10:00,-75.947259,0.0,142.108191,0.0,466990.0,0.0,0.0,25.6,27.6,24.9,94.0,3-6,23.975128,121.61327,16.1
746636,17,2024-10-31 23:20:00,-77.567816,0.0,141.327489,0.0,466990.0,0.0,0.0,25.5,27.6,24.9,93.0,3-6,23.975128,121.61327,16.1
746637,17,2024-10-31 23:30:00,-78.921182,0.0,140.572822,0.0,466990.0,0.0,0.0,25.7,27.6,24.9,93.0,3-6,23.975128,121.61327,16.1
746638,17,2024-10-31 23:40:00,-79.899069,0.0,139.840382,0.0,466990.0,0.0,0.0,25.6,27.6,24.9,92.0,3-6,23.975128,121.61327,16.1
746639,17,2024-10-31 23:50:00,-80.386005,0.0,139.126723,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
df["日期"] = pd.to_datetime(df["DateTime"].dt.date)
df["時間"] = df["DateTime"].dt.hour.astype(str).str.zfill(2)
df["時段"] = df["DateTime"].dt.minute.astype(str).str.zfill(2)

In [138]:
df

,location,DateTime,太陽仰角,日射量 (W/m²),太陽方位角,太陽能板日射量 (W/m²),StationId,SunshineDuration,UVIndex,AirTemperature,DailyExtremeHighAirTemperature,DailyExtremeLowAirTemperature,RelativeHumidity,VisibilityDescription,StationLatitude,StationLongitude,StationAltitude,日期,時間,時段
0,01,2024-01-01 00:00:00,-88.366208,0.0,138.515569,0.0,466990.0,0.9,0.0,19.2,24.6,19.0,72.0,21-30,23.975128,121.61327,16.1,2024-01-01,00,00
1,01,2024-01-01 00:10:00,-86.202505,0.0,137.831949,0.0,466990.0,0.0,0.0,19.2,19.3,19.2,72.0,21-30,23.975128,121.61327,16.1,2024-01-01,00,10
2,01,2024-01-01 00:20:00,-83.943446,0.0,137.158723,0.0,466990.0,0.0,0.0,19.2,19.3,19.2,71.0,21-30,23.975128,121.61327,16.1,2024-01-01,00,20
3,01,2024-01-01 00:30:00,-81.666617,0.0,136.493326,0.0,466990.0,0.0,0.0,19.2,19.3,19.2,70.0,21-30,23.975128,121.61327,16.1,2024-01-01,00,30
4,01,2024-01-01 00:40:00,-79.383910,0.0,135.833303,0.0,466990.0,0.0,0.0,19.2,19.3,19.2,71.0,21-30,23.975128,121.61327,16.1,2024-01-01,00,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746635,17,2024-10-31 23:10:00,-75.947259,0.0,142.108191,0.0,466990.0,0.0,0.0,25.6,27.6,24.9,94.0,3-6,23.975128,121.61327,16.1,2024-10-31,23,10
746636,17,2024-10-31 23:20:00,-77.567816,0.0,141.327489,0.0,466990.0,0.0,0.0,25.5,27.6,24.9,93.0,3-6,23.975128,121.61327,16.1,2024-10-31,23,20
746637,17,2024-10-31 23:30:00,-78.921182,0.0,140.572822,0.0,466990.0,0.0,0.0,25.7,27.6,24.9,93.0,3-6,23.975128,121.61327,16.1,2024-10-31,23,30
746638,17,2024-10-31 23:40:00,-79.899069,0.0,139.840382,0.0,466990.0,0.0,0.0,25.6,27.6,24.9,92.0,3-6,23.975128,121.61327,16.1,2024-10-31,23,40
746639,17,2024-10-31 23:50:00,-80.386005,0.0,139.126723,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-10-31,23,50

In [139]:
df = pd.merge(
    df,
    weather_df_1hour,
    left_on=["日期","時間"],
    right_on=["日期","時間"],
    how="left",
    suffixes=["","_r"]
)
df

,location,DateTime,太陽仰角,日射量 (W/m²),太陽方位角,太陽能板日射量 (W/m²),StationId,SunshineDuration,UVIndex,AirTemperature,...,StationLongitude,StationAltitude,日期,時間,時段,DateTime_r,TX01,GR01,RH01,UV01
0,01,2024-01-01 00:00:00,-88.366208,0.0,138.515569,0.0,466990.0,0.9,0.0,19.2,...,121.61327,16.1,2024-01-01,00,00,2024010124,17.1,0.0,79,0.0
1,01,2024-01-01 00:10:00,-86.202505,0.0,137.831949,0.0,466990.0,0.0,0.0,19.2,...,121.61327,16.1,2024-01-01,00,10,2024010124,17.1,0.0,79,0.0
2,01,2024-01-01 00:20:00,-83.943446,0.0,137.158723,0.0,466990.0,0.0,0.0,19.2,...,121.61327,16.1,2024-01-01,00,20,2024010124,17.1,0.0,79,0.0
3,01,2024-01-01 00:30:00,-81.666617,0.0,136.493326,0.0,466990.0,0.0,0.0,19.2,...,121.61327,16.1,2024-01-01,00,30,2024010124,17.1,0.0,79,0.0
4,01,2024-01-01 00:40:00,-79.383910,0.0,135.833303,0.0,466990.0,0.0,0.0,19.2,...,121.61327,16.1,2024-01-01,00,40,2024010124,17.1,0.0,79,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746635,17,2024-10-31 23:10:00,-75.947259,0.0,142.108191,0.0,466990.0,0.0,0.0,25.6,...,121.61327,16.1,2024-10-31,23,10,2024103123,25.6,0.0,94,0.0
746636,17,2024-10-31 23:20:00,-77.567816,0.0,141.327489,0.0,466990.0,0.0,0.0,25.5,...,121.61327,16.1,2024-10-31,23,20,2024103123,25.6,0.0,94,0.0
746637,17,2024-10-31 23:30:00,-78.921182,0.0,140.572822,0.0,466990.0,0.0,0.0,25.7,...,121.61327,16.1,2024-10-31,23,30,2024103123,25.6,0.0,94,0.0
746638,17,2024-10-31 23:40:00,-79.899069,0.0,139.840382,0.0,466990.0,0.0,0.0,25.6,...,121.61327,16.1,2024-10-31,23,40,2024103123,25.6,0.0,94,0.0
746639,17,2024-10-31 23:50:00,-80.386005,0.0,139.126723,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2024-10-31,23,50,2024103123,25.6,0.0,94,0.0

In [140]:
df.to_csv("weather_sun_combine.csv",index=False)